article .container {
    display: flex;
    flex-direction: row;

}

article {
    margin: auto 0;
}

.tagline {
    flex-basis: 60%;
    margin: auto;
}

.tagline h1 {
    font-size: 50px;
    margin-bottom: 5px;
}

.tagline span {
    color: rgb(0, 165, 0);
}

.image-main {
    margin: auto;
}

.image-main img {
    width: 350px;
}

.tagline p {
    font-size: 20px;
    color: rgb(104, 104, 104);
    margin-top: 5px;
    margin-bottom: 15px;
}

.tagline h2, .tagline h3 {
    margin-bottom: 5px;
    font-family: 'Lora', sans-serif;

}

.tagline h2 {
    font-size: 40px;
    color: rgb(0, 165, 0);
}

.tagline h3 {
    font-size: 25px;
}

button.start {
    border-radius: 5px;
    border: 1px solid forestgreen;
    height: 50px;
    width: 165px;
    justify-content: space-between;
    font-size: 15px;
    margin-top: 40px;
    color: black;
    transition-duration: 0.4s;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
}

button.start:hover {
    background-color: forestgreen;
    color: white;
}

.start i {
    font-size: 25px;
}

.start span, .start i{
    margin: auto;
}