article .container {
    flex-direction: column;
    align-items: center;
    margin-top: none;
}

article {
    margin: auto 0;
}

a {
    color: black;
}

a:hover {
    color: forestgreen;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    margin-top: 1vh;
    margin-bottom: 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
}

.logo {
    margin-bottom: 25px;
}

form {
    width: 100%;
    max-width: 400px;
}

.field {
    font-size: 17px;
    position: relative;

}

.input input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    font-size: medium;
}

.input input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
} 

.field.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.remember-me {
    display: flex;
    justify-content: space-between;
}

.remember-me input {
    width: 20px;
    height: 20px;
}

.remember-me label, .forgot-password {
    margin-top: 3px;
}

button.start {
    width: 100%;
    max-width: 400px;
    background-color: rgba(39, 151, 39, 0.7);
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.login-oauth {
    text-align: center;
    font-size: 17px;
}

.login-oauth p {
    margin-bottom: 10px;
}

.login-oauth a {
    font-size: 25px;
    margin: 20px auto;
    padding: 0 5px;
}

.login-oauth .bi-facebook {
    color: blue;
}

.login-oauth .bi-google {
    color: red;
}

.login-oauth .bi-github {
    color: black;
}

.not-registered {
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 1vh;
}

@media screen and (max-width: 800px) {
    article .container {
        display: flex;
    }
}